<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>

<body>
    {{> menu}}

    <div>
    <ul>
        <li>
            <img src="{{posterURL}}"></img>
            <h3>{{title}}</h3>
            <h4>{{genre}}
            <p>{{description}}
        </li>
    {{^details}}
    No Details Exist

    {{/details}}
    </ul>
    </div>


</body>

</html>